

#hero {
    background-color: #f2f2f2;

    text-align: center;
}

#hero h1 {
    font-size: 32px;
    color: #333;
}

#hero p {
    font-size: 18px;
    color: #666;
}   

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide {
    width: 100%;
}

.carousel .slide img {
    width: 100%;
    height: 700px; /* Replace with your desired fixed height */
    object-fit: cover;
    object-position: center;

}

.slide .caption {
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: center;
}

.carousel {
    height: 100vh;
}

.carousel .slide img {
    height: 100vh;
}

#TitleWStroke {
        -webkit-text-stroke: 1px #1d1d1d;
}
